<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <style>
        .container {
            width: 1024px;
            margin: 0 auto;
            display: flex;
        }
        h1 {
            position: relative;
            left: 50%;
        }
        section {
            position: relative;
            margin-right: 48px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Perfil</h1>
    </header>
    <div class="container">
        <section>
            <img src="../../uploads/foto_perfil.jpg" alt="Foto de perfil">
        </section>
        <section>
            <ul>
                <li>
                    Nome: <%= perfil.nome %>
                </li>
                <li>
                    Idade: <%= perfil.idade %>
                </li>
            </ul>
        </section>
    </div>
</body>
</html>